<!doctype html>
<html>
  <head>
    <title>Lesson 1</title>
    <link rel="stylesheet" href="styles.css" >
  </head>
  <body>
    <div class="post">
      <b><%= post.name %></b>
      <p>
        <%= post.text %> 
      </p>
    </div>
  </body>
</html>
