<!doctype html>
<html>
  <head>
    <title>Lesson 1</title>
    <link rel="stylesheet" href="styles.css" >
  </head>
  <body>
    <img  class="photo" src="<%= user.picture %>" >
    <b class="name"><%= user.name %></b>
    <div class="butt"><a href="#">Show Friend</a></div>
  </body>
</html>
